Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30


So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa
Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors.shape[1] 
n_cols

8

Import Keras

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [15]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

Train and Test the Network


Let's call the function now to create our model.

In [17]:
model = regression_model()

we will train the model for 50 epochs.

In [18]:
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
721/721 [==============================] - ETA: 0s - loss: 3969.89 - 1s 812us/step - loss: 3774.5328
Epoch 2/100
721/721 [==============================] - 0s 253us/step - loss: 2411.1880
Epoch 3/100
721/721 [==============================] - 0s 358us/step - loss: 1976.5913
Epoch 4/100
721/721 [==============================] - 0s 385us/step - loss: 1633.4297
Epoch 5/100
721/721 [==============================] - 0s 387us/step - loss: 1370.8789
Epoch 6/100
721/721 [==============================] - 0s 391us/step - loss: 1133.4733
Epoch 7/100
721/721 [==============================] - 0s 409us/step - loss: 965.0785
Epoch 8/100
721/721 [==============================] - 0s 357us/step - loss: 840.1758
Epoch 9/100
721/721 [==============================] - 0s 415us/step - loss: 743.9617
Epoch 10/100
721/721 [==============================] - 0s 358us/step - loss: 666.6161
Epoch 11/100
721/721 [==============================] - 0s 360us/step - loss: 603.0859
Epoch 12/100
721/721 [==============================] - 0s 527us/step - loss: 550.3658
Epoch 13/100
721/721 [==============================] - 0s 368us/step - loss: 509.2957
Epoch 14/100
721/721 [==============================] - 0s 410us/step - loss: 481.4601 0s - loss: 451.
Epoch 15/100
721/721 [==============================] - 0s 390us/step - loss: 446.4395
Epoch 16/100
721/721 [==============================] - 0s 472us/step - loss: 421.5142
Epoch 17/100
721/721 [==============================] - 0s 388us/step - loss: 403.7051
Epoch 18/100
721/721 [==============================] - 0s 366us/step - loss: 386.7193
Epoch 19/100
721/721 [==============================] - 0s 355us/step - loss: 372.0446
Epoch 20/100
721/721 [==============================] - 0s 357us/step - loss: 355.4700
Epoch 21/100
721/721 [==============================] - 0s 335us/step - loss: 343.8286
Epoch 22/100
721/721 [==============================] - 0s 390us/step - loss: 335.8688
Epoch 23/100
721/721 [==============================] - 0s 365us/step - loss: 324.0238
Epoch 24/100
721/721 [==============================] - 0s 417us/step - loss: 317.7802
Epoch 25/100
721/721 [==============================] - 0s 413us/step - loss: 309.1477
Epoch 26/100
721/721 [==============================] - 0s 387us/step - loss: 298.4680
Epoch 27/100
721/721 [==============================] - 0s 418us/step - loss: 291.2222
Epoch 28/100
721/721 [==============================] - 0s 384us/step - loss: 285.5652
Epoch 29/100
721/721 [==============================] - 0s 417us/step - loss: 280.8930
Epoch 30/100
721/721 [==============================] - 0s 404us/step - loss: 274.6869
Epoch 31/100
721/721 [==============================] - 0s 372us/step - loss: 268.9742
Epoch 32/100
721/721 [==============================] - 1s 771us/step - loss: 268.6482
Epoch 33/100
721/721 [==============================] - 0s 527us/step - loss: 259.5953
Epoch 34/100
721/721 [==============================] - 0s 357us/step - loss: 253.4412
Epoch 35/100
721/721 [==============================] - 0s 413us/step - loss: 250.0467
Epoch 36/100
721/721 [==============================] - 0s 386us/step - loss: 244.6582
Epoch 37/100
721/721 [==============================] - 0s 395us/step - loss: 241.6357
Epoch 38/100
721/721 [==============================] - 0s 391us/step - loss: 234.8230
Epoch 39/100
721/721 [==============================] - 0s 389us/step - loss: 230.5939
Epoch 40/100
721/721 [==============================] - 0s 362us/step - loss: 226.2588
Epoch 41/100
721/721 [==============================] - 0s 391us/step - loss: 222.9433
Epoch 42/100
721/721 [==============================] - 0s 389us/step - loss: 218.0624
Epoch 43/100
721/721 [==============================] - 0s 390us/step - loss: 216.4206
Epoch 44/100
721/721 [==============================] - 0s 339us/step - loss: 211.6831
Epoch 45/100
721/721 [==============================] - 0s 366us/step - loss: 207.9285
Epoch 46/100
721/721 [==============================] - 0s 383us/step - loss: 204.6381
Epoch 47/100
721/721 [==============================] - 0s 416us/step - loss: 203.0697
Epoch 48/100
721/721 [==============================] - 0s 362us/step - loss: 199.6466
Epoch 49/100
721/721 [==============================] - 0s 415us/step - loss: 196.7216
Epoch 50/100
721/721 [==============================] - 0s 414us/step - loss: 194.1530
Epoch 51/100
721/721 [==============================] - 0s 389us/step - loss: 192.4558
Epoch 52/100
721/721 [==============================] - 0s 412us/step - loss: 190.3281
Epoch 53/100
721/721 [==============================] - 0s 385us/step - loss: 187.6027
Epoch 54/100
721/721 [==============================] - 0s 385us/step - loss: 185.4684 0s - loss: 178.70
Epoch 55/100
721/721 [==============================] - 0s 370us/step - loss: 182.2746
Epoch 56/100
721/721 [==============================] - 0s 419us/step - loss: 182.4663
Epoch 57/100
721/721 [==============================] - 0s 386us/step - loss: 179.9710
Epoch 58/100
721/721 [==============================] - 0s 360us/step - loss: 176.5093
Epoch 59/100
721/721 [==============================] - 0s 447us/step - loss: 175.8172
Epoch 60/100
721/721 [==============================] - 0s 390us/step - loss: 173.0901
Epoch 61/100
721/721 [==============================] - 0s 386us/step - loss: 172.0299
Epoch 62/100
721/721 [==============================] - 0s 392us/step - loss: 169.8162
Epoch 63/100
721/721 [==============================] - 0s 364us/step - loss: 168.4403
Epoch 64/100
721/721 [==============================] - 0s 354us/step - loss: 166.6400
Epoch 65/100
721/721 [==============================] - 0s 417us/step - loss: 167.7853
Epoch 66/100
721/721 [==============================] - 0s 362us/step - loss: 163.6139
Epoch 67/100
721/721 [==============================] - 0s 383us/step - loss: 162.6357
Epoch 68/100
721/721 [==============================] - 0s 361us/step - loss: 160.1811
Epoch 69/100
721/721 [==============================] - 0s 414us/step - loss: 159.8605
Epoch 70/100
721/721 [==============================] - 0s 415us/step - loss: 158.0867
Epoch 71/100
721/721 [==============================] - 0s 416us/step - loss: 157.5715
Epoch 72/100
721/721 [==============================] - 0s 365us/step - loss: 155.8268
Epoch 73/100
721/721 [==============================] - 0s 435us/step - loss: 155.0087
Epoch 74/100
721/721 [==============================] - 0s 396us/step - loss: 153.1836
Epoch 75/100
721/721 [==============================] - 0s 392us/step - loss: 152.5459
Epoch 76/100
721/721 [==============================] - 0s 386us/step - loss: 150.8196
Epoch 77/100
721/721 [==============================] - 0s 355us/step - loss: 151.5199
Epoch 78/100
721/721 [==============================] - 0s 386us/step - loss: 150.5807
Epoch 79/100
721/721 [==============================] - 0s 416us/step - loss: 149.8437
Epoch 80/100
721/721 [==============================] - 0s 361us/step - loss: 146.8512
Epoch 81/100
721/721 [==============================] - 0s 410us/step - loss: 145.7565 0s - loss: 148.86
Epoch 82/100
721/721 [==============================] - 0s 359us/step - loss: 145.6857
Epoch 83/100
721/721 [==============================] - 0s 365us/step - loss: 144.0919
Epoch 84/100
721/721 [==============================] - 0s 390us/step - loss: 145.1561
Epoch 85/100
721/721 [==============================] - 0s 390us/step - loss: 141.9124
Epoch 86/100
721/721 [==============================] - 0s 392us/step - loss: 141.3588
Epoch 87/100
721/721 [==============================] - 0s 388us/step - loss: 144.0501
Epoch 88/100
721/721 [==============================] - 0s 393us/step - loss: 140.8398
Epoch 89/100
721/721 [==============================] - 0s 465us/step - loss: 142.0076
Epoch 90/100
721/721 [==============================] - 0s 415us/step - loss: 138.4686
Epoch 91/100
721/721 [==============================] - 0s 441us/step - loss: 141.6981
Epoch 92/100
721/721 [==============================] - 0s 421us/step - loss: 140.5742
Epoch 93/100
721/721 [==============================] - 0s 380us/step - loss: 136.7101 0s - loss: 138.050
Epoch 94/100
721/721 [==============================] - 0s 392us/step - loss: 135.0786
Epoch 95/100
721/721 [==============================] - 0s 407us/step - loss: 134.8409
Epoch 96/100
721/721 [==============================] - 0s 387us/step - loss: 135.6061
Epoch 97/100
721/721 [==============================] - 0s 415us/step - loss: 133.6784
Epoch 98/100
721/721 [==============================] - 0s 414us/step - loss: 133.9357
Epoch 99/100
721/721 [==============================] - 0s 390us/step - loss: 132.2951
Epoch 100/100
721/721 [==============================] - 0s 394us/step - loss: 131.6642

Next we need to evaluate the model on the test data.

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 301us/step

146.8621087923019

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

146.86211141419355 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 105.06019945360696
MSE 2: 124.94227807498673
MSE 3: 109.94196326987257
MSE 4: 119.23448324357807
MSE 5: 108.07272452443935
MSE 6: 102.42798656475968
MSE 7: 131.08659540565267
MSE 8: 94.52372005919422
MSE 9: 102.1336827941697
MSE 10: 63.00529136781168
MSE 11: 50.10162189323154
MSE 12: 51.79522319904809
MSE 13: 56.005694485019326
MSE 14: 57.00176158769231
MSE 15: 51.33154483289009
MSE 16: 44.93170586990307
MSE 17: 49.169559342961485
MSE 18: 50.3141892257246
MSE 19: 43.88313953930506
MSE 20: 47.94576839953179
MSE 21: 44.26427338732871
MSE 22: 43.07384429240304
MSE 23: 43.085030639055866
MSE 24: 45.89962600658627
MSE 25: 48.159133960514005
MSE 26: 47.28617804567405
MSE 27: 52.90842136518855
MSE 28: 43.3499566791127
MSE 29: 51.60859314754943
MSE 30: 48.33894069140783
MSE 31: 48.67732816529505
MSE 32: 40.24551099017986
MSE 33: 44.67800651476221
MSE 34: 45.031663962552464
MSE 35: 45.67565658717479
MSE 36: 53.19389269189927
MSE 37: 47.13290695387955
MSE 38: 50.81035115263609
MSE 39: 44.191010225166394
MSE 40: 42.78804458074971
MSE 41: 49.08102849077638
MSE 42: 41.78002681546998
MSE 43: 45.549231618739256
MSE 44: 52.20993340748414