Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30


So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa
Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors.shape[1] 
n_cols

8

Import Keras

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

Train and Test the Network


Let's call the function now to create our model.

In [16]:
model = regression_model()

we will train the model for 50 epochs.

In [17]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 994us/step - loss: 712454.5394
Epoch 2/50
721/721 [==============================] - 0s 337us/step - loss: 480874.1170
Epoch 3/50
721/721 [==============================] - 0s 390us/step - loss: 320717.4025
Epoch 4/50
721/721 [==============================] - 0s 417us/step - loss: 211862.6027
Epoch 5/50
721/721 [==============================] - 0s 360us/step - loss: 137857.9644
Epoch 6/50
721/721 [==============================] - 0s 356us/step - loss: 88206.9926
Epoch 7/50
721/721 [==============================] - 0s 413us/step - loss: 55672.8580 0s - loss: 61061.7
Epoch 8/50
721/721 [==============================] - 0s 469us/step - loss: 34779.6269
Epoch 9/50
721/721 [==============================] - 0s 390us/step - loss: 21940.5688
Epoch 10/50
721/721 [==============================] - 0s 366us/step - loss: 13976.7596
Epoch 11/50
721/721 [==============================] - 0s 384us/step - loss: 9381.3242
Epoch 12/50
721/721 [==============================] - 0s 412us/step - loss: 6782.7866
Epoch 13/50
721/721 [==============================] - 0s 389us/step - loss: 5419.6201
Epoch 14/50
721/721 [==============================] - 0s 357us/step - loss: 4679.3787
Epoch 15/50
721/721 [==============================] - 0s 336us/step - loss: 4306.8374
Epoch 16/50
721/721 [==============================] - 0s 381us/step - loss: 4095.7979
Epoch 17/50
721/721 [==============================] - 0s 415us/step - loss: 3948.6489
Epoch 18/50
721/721 [==============================] - 0s 391us/step - loss: 3845.8814
Epoch 19/50
721/721 [==============================] - 0s 417us/step - loss: 3737.7544
Epoch 20/50
721/721 [==============================] - 0s 359us/step - loss: 3653.8390
Epoch 21/50
721/721 [==============================] - 0s 387us/step - loss: 3556.8176
Epoch 22/50
721/721 [==============================] - 0s 386us/step - loss: 3465.9685
Epoch 23/50
721/721 [==============================] - 0s 412us/step - loss: 3377.2367
Epoch 24/50
721/721 [==============================] - 0s 360us/step - loss: 3288.3473
Epoch 25/50
721/721 [==============================] - 0s 388us/step - loss: 3199.3301
Epoch 26/50
721/721 [==============================] - 0s 551us/step - loss: 3108.7698
Epoch 27/50
721/721 [==============================] - 0s 386us/step - loss: 3021.2419
Epoch 28/50
721/721 [==============================] - 0s 386us/step - loss: 2935.5129
Epoch 29/50
721/721 [==============================] - 0s 419us/step - loss: 2851.6065
Epoch 30/50
721/721 [==============================] - 0s 381us/step - loss: 2766.8310
Epoch 31/50
721/721 [==============================] - 0s 337us/step - loss: 2687.8677
Epoch 32/50
721/721 [==============================] - 0s 420us/step - loss: 2608.1193
Epoch 33/50
721/721 [==============================] - 0s 414us/step - loss: 2534.3915
Epoch 34/50
721/721 [==============================] - 0s 439us/step - loss: 2459.3886
Epoch 35/50
721/721 [==============================] - 0s 666us/step - loss: 2388.8418
Epoch 36/50
721/721 [==============================] - 0s 610us/step - loss: 2317.0561
Epoch 37/50
721/721 [==============================] - 0s 558us/step - loss: 2249.3805
Epoch 38/50
721/721 [==============================] - 0s 529us/step - loss: 2181.9144
Epoch 39/50
721/721 [==============================] - 0s 529us/step - loss: 2120.6356
Epoch 40/50
721/721 [==============================] - 0s 504us/step - loss: 2056.9547
Epoch 41/50
721/721 [==============================] - 0s 554us/step - loss: 2001.4200
Epoch 42/50
721/721 [==============================] - 0s 444us/step - loss: 1941.9533
Epoch 43/50
721/721 [==============================] - 0s 416us/step - loss: 1888.2945
Epoch 44/50
721/721 [==============================] - 0s 358us/step - loss: 1837.1599
Epoch 45/50
721/721 [==============================] - 0s 358us/step - loss: 1785.1540
Epoch 46/50
721/721 [==============================] - 1s 774us/step - loss: 1733.7398
Epoch 47/50
721/721 [==============================] - 0s 387us/step - loss: 1686.2071
Epoch 48/50
721/721 [==============================] - 0s 362us/step - loss: 1639.0304
Epoch 49/50
721/721 [==============================] - 0s 412us/step - loss: 1598.0577
Epoch 50/50
721/721 [==============================] - 0s 413us/step - loss: 1551.1617

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 269us/step

1064.6717541148362

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

1064.6717490448636 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 527.0276380619185
MSE 2: 209.4903581736543
MSE 3: 159.94268793890006
MSE 4: 141.31346478508513
MSE 5: 130.62597276014804
MSE 6: 110.90672741738723
MSE 7: 137.3920160188644
MSE 8: 97.03839400208112
MSE 9: 88.52103629004222
MSE 10: 75.25391047209212
MSE 11: 57.22994343285422
MSE 12: 49.56286712448959
MSE 13: 54.633658702319494
MSE 14: 59.67448600596209
MSE 15: 48.60986494786531
MSE 16: 42.31794446185955
MSE 17: 46.369748458121585
MSE 18: 48.218537265814625
MSE 19: 43.33663155268697
MSE 20: 45.05704606929643
MSE 21: 42.4838234861306
MSE 22: 43.61634576050595
MSE 23: 41.663484233868544
MSE 24: 43.23156017315812
MSE 25: 44.163366015289206
MSE 26: 49.27034868160112
MSE 27: 45.374946100426335
MSE 28: 39.9373155735843
MSE 29: 50.19527787143744
MSE 30: 53.26445122135495
MSE 31: 51.278765879016866
MSE 32: 43.37296981564617
MSE 33: 46.69734883231253
MSE 34: 45.61014803790737
MSE 35: 47.288473011992124
MSE 36: 55.6637086096705
MSE 37: 48.15142802513147
MSE 38: 49.64197599540636
MSE 39: 53.06903260116824
MSE 40: 43.75925928257816
MSE 41: 52.01435011335947
MSE 42: 42.39143190106142
MSE 43: 54.483631319212684
MSE 44: 52.86489658293986
MSE 45: 55.39869181315104
MSE 46: 52.216492983129804
MSE 47: 53.057611804949815