Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries

In [2]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30


So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa
Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols = predictors.shape[1] 
n_cols

8

Import Keras

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

Train and Test the Network


Let's call the function now to create our model.

In [16]:
model = regression_model()

we will train the model for 50 epochs.

In [17]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 919us/step - loss: 32304.7322
Epoch 2/50
721/721 [==============================] - 0s 398us/step - loss: 4747.9128
Epoch 3/50
721/721 [==============================] - 0s 374us/step - loss: 3330.7392
Epoch 4/50
721/721 [==============================] - 0s 364us/step - loss: 2101.0886
Epoch 5/50
721/721 [==============================] - 0s 383us/step - loss: 1529.1772
Epoch 6/50
721/721 [==============================] - 0s 470us/step - loss: 1213.6880
Epoch 7/50
721/721 [==============================] - 0s 609us/step - loss: 1024.0640
Epoch 8/50
721/721 [==============================] - 0s 357us/step - loss: 893.1519
Epoch 9/50
721/721 [==============================] - 0s 365us/step - loss: 806.4969
Epoch 10/50
721/721 [==============================] - 0s 366us/step - loss: 738.9623
Epoch 11/50
721/721 [==============================] - 0s 464us/step - loss: 681.0150
Epoch 12/50
721/721 [==============================] - 0s 387us/step - loss: 640.1325
Epoch 13/50
721/721 [==============================] - 0s 530us/step - loss: 604.7117
Epoch 14/50
721/721 [==============================] - 0s 532us/step - loss: 567.6615
Epoch 15/50
721/721 [==============================] - 0s 414us/step - loss: 537.6319
Epoch 16/50
721/721 [==============================] - 0s 479us/step - loss: 510.3119
Epoch 17/50
721/721 [==============================] - 0s 449us/step - loss: 488.3938
Epoch 18/50
721/721 [==============================] - 0s 355us/step - loss: 455.3103
Epoch 19/50
721/721 [==============================] - 0s 358us/step - loss: 427.9217
Epoch 20/50
721/721 [==============================] - 0s 332us/step - loss: 410.1951
Epoch 21/50
721/721 [==============================] - 0s 357us/step - loss: 388.2449
Epoch 22/50
721/721 [==============================] - 0s 444us/step - loss: 370.2179
Epoch 23/50
721/721 [==============================] - 0s 307us/step - loss: 344.8128
Epoch 24/50
721/721 [==============================] - 0s 333us/step - loss: 327.9029
Epoch 25/50
721/721 [==============================] - 0s 552us/step - loss: 307.6968 0s - loss: 278.
Epoch 26/50
721/721 [==============================] - 0s 415us/step - loss: 293.8220
Epoch 27/50
721/721 [==============================] - 0s 453us/step - loss: 268.2572
Epoch 28/50
721/721 [==============================] - 0s 379us/step - loss: 256.4503
Epoch 29/50
721/721 [==============================] - 0s 360us/step - loss: 238.6952
Epoch 30/50
721/721 [==============================] - 0s 393us/step - loss: 225.9952
Epoch 31/50
721/721 [==============================] - 0s 382us/step - loss: 211.9262
Epoch 32/50
721/721 [==============================] - 0s 362us/step - loss: 199.2763
Epoch 33/50
721/721 [==============================] - 0s 362us/step - loss: 188.0605 0s - loss: 187.0
Epoch 34/50
721/721 [==============================] - 0s 360us/step - loss: 177.7291
Epoch 35/50
721/721 [==============================] - 0s 444us/step - loss: 168.0357
Epoch 36/50
721/721 [==============================] - 0s 472us/step - loss: 159.4033
Epoch 37/50
721/721 [==============================] - 0s 387us/step - loss: 155.3493
Epoch 38/50
721/721 [==============================] - 0s 414us/step - loss: 150.0644
Epoch 39/50
721/721 [==============================] - 0s 414us/step - loss: 144.6253
Epoch 40/50
721/721 [==============================] - 0s 359us/step - loss: 138.4707
Epoch 41/50
721/721 [==============================] - 1s 810us/step - loss: 134.4904
Epoch 42/50
721/721 [==============================] - 0s 475us/step - loss: 135.3715
Epoch 43/50
721/721 [==============================] - 0s 389us/step - loss: 134.1906
Epoch 44/50
721/721 [==============================] - 0s 366us/step - loss: 131.3649
Epoch 45/50
721/721 [==============================] - 0s 465us/step - loss: 127.2024
Epoch 46/50
721/721 [==============================] - 0s 420us/step - loss: 127.2974
Epoch 47/50
721/721 [==============================] - 0s 416us/step - loss: 124.4655 0s - loss: 106.663 - ETA: 0s - loss: 122.72
Epoch 48/50
721/721 [==============================] - 0s 417us/step - loss: 123.0072
Epoch 49/50
721/721 [==============================] - 0s 392us/step - loss: 124.6338
Epoch 50/50
721/721 [==============================] - 0s 362us/step - loss: 121.7832

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 316us/step

117.43878860226727

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

117.43878958071832 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 96.48142844882211
MSE 2: 125.74127923169182
MSE 3: 155.72457219096063
MSE 4: 119.40262067973806
MSE 5: 128.93721428040934
MSE 6: 121.68565087179536
MSE 7: 148.22376885769052
MSE 8: 109.44316392423265
MSE 9: 118.96063676852624
MSE 10: 114.5647762261548
MSE 11: 103.41703077890341
MSE 12: 97.59196785738553
MSE 13: 112.52310921381978
MSE 14: 114.01008334360462
MSE 15: 115.69355146784612
MSE 16: 107.08772388939718
MSE 17: 106.85009316256131
MSE 18: 96.01319892661085
MSE 19: 95.86281916547361
MSE 20: 113.68807304407015
MSE 21: 96.95766866245702
MSE 22: 102.11447753412438
MSE 23: 116.66988402431451
MSE 24: 103.11718999375032
MSE 25: 110.76081307420453
MSE 26: 101.65501092707069
MSE 27: 120.98870931088345
MSE 28: 128.92324690834218
MSE 29: 107.77599875440875
MSE 30: 124.86333122376871
MSE 31: 131.78847185153407
MSE 32: 102.53717102124853
MSE 33: 103.78250606006017
MSE 34: 110.47760113466133
MSE 35: 116.09786160169682
MSE 36: 146.49969052805483
MSE 37: 119.98952382899411
MSE 38: 108.08984826837928
MSE 39: 78.27169059086772
MSE 40: 78.50483044374336
MSE 41: 61.57739228183783
MSE 42: 50.488388073868734